.navbar {
  background: rgba(139,94,60,.95);
  backdrop-filter: blur(8px);
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
}

/* LINKS */
.links a {
  background-color: #DCC7A1; /* bege */
  color: #5E3B1F;

  padding: 12px 22px;
  border-radius: 10px;

  text-decoration: none;
  font-weight: bold;

  transition: all 0.3s ease;
}

.links a:hover {
  background-color: #E8D8B8;
  transform: translateY(-2px);

  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* 📱 MOBILE */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .links {
    display: flex;
    gap: 15px;
  }
}